################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LightKeysTransfer/LightKeysTransfer/bin
/LightKeysTransfer/.vs/
/LightKeysTransfer/LightKeysTransfer/obj
