################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LightKeysTransfer/LightKeysTransfer/bin
/LightKeysTransfer/.vs/
/LightKeysTransfer/LightKeysTransfer/obj
/LightKeysTransfer/LightKeysTransfer.UnitTests/bin
/LightKeysTransfer/LightKeysTransfer.UnitTests/obj
/LightKeysTransfer/LightKeysTransfer/Properties/PublishProfiles
/LightKeysTransfer/LightKeysTransfer/LightKeysTransfer.csproj.user
